<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../fonts/icomoon/styles.css">
    <link rel="stylesheet" href="../fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/app.css">
    
  </head>
  <body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <!-- Core JS files -->
    <script type="text/javascript" src="../js/main.min.js"></script>
  </body>
  <div class="js-overlay js-close-navigation js-close-menu overlay"></div>
</html>
